<br><h2> Edit your profile</h2>
<div class="small-6 small-offset-3 medium-4 medium-offset-3 large-4 large-offset-4 columns" id="edituserform">
  <%= form_for @user do |f| %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.text_field :username, placeholder: @user.username %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.text_field :city, placeholder: "City" %>
  <%= f.text_field :state, placeholder: "State" %>
  <%= f.text_field :age, placeholder: "Age" %>
  <%= f.text_field :bio, placeholder: "Team" %>
  <%= submit_tag 'update', class: "button tiny" %>
<% end %>
</div>
