<h1> Log In </h1>

<p class="error">
  <%= session[:errors] if session[:errors] %>
</p>

<%= form_tag "/login" do %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= submit_tag %>
<% end %>

<br>

<%= render template: "users/new" %>
